<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Organizer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../styles/home.css" th:ref="@{/styles/home.css}"
	type="text/css" rel="stylesheet" />


</head>
<body>
	<header>
		<img th:src="@{/styles/avatar.jpg}" alt="Avatar" class="avatar">
	</header>
	<div class="topnav">
		<a class="active" href="/auth/logged">Koti</a> <a class="active"
			href="/home">Kirjaudu ulos</a>
	</div>
	<br>
	<header class="header">
		<h1>Lista kategorioista</h1>
	</header>
	<table>
		<tr>
			<th>Id</th>
			<th>Nimi</th>
			<th>Kuvaus</th>
			<th>Muokkaa</th>
		</tr>
		<tr th:each="category : ${categories}">
			<td th:text="${category.cateId}">Id</td>
			<td th:text="${category.cName}">Nimi</td>
			<td th:text="${category.cDesc}">Kuvaus</td>
			<td><a th:href="@{/auth/editcate/{id}(id=${category.cateId})}">Muokkaa</a></td>
		</tr>
	</table>
</body>
</html>