<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> -->
<head>
<title>Organizer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../styles/home.css" th:ref="@{/styles/home.css}"
	type="text/css" rel="stylesheet" />


</head>
<body>
	<header>
		
		<img th:src="@{/styles/avatar.jpg}" alt="Avatar" class="avatar">
	</header>

	<div class="topnav">
		<!--Tähän tulee listaus kaikista Boxeista jotka ovat julkisia-->
		<!--Tai ehkä top navigointi missä on kirjaudu sisään, rekisteröidy ja etsi ominaisuus-->
		<!-- Vois vielä lisätä koti-painikkeen -->

			<a class="active" href="/logged">Koti</a>
			<a class="active" href="/home">Kirjaudu ulos</a>
		<div class="search-container">
			<form action="/action_page.php">
				<input type="text" placeholder="Etsi.." name="search">
				<button class="button-search" type="submit">
					<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
	</div>

	<h1></h1>
	<br>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Description</th>
	

		</tr>
		<tr th:each="category : ${categories}">
			<td th:text="${category.cateId}">Id</td>
			<td th:text="${category.cName}">Name</td>
			<td th:text="${category.cDesc}">Description</td>
		<td><a th:href="@{/editcate/{id}(id=${category.cateId})}">Edit</a></td>
		
			
		</tr>
	</table>
</body>
</html>