<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Edit Box</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../styles/signandlogin.css"
	th:ref="@{/styles/signandlogin.css}" type="text/css" rel="stylesheet" />
</head>
<body>
	<form action="#" th:action="@{/savebox}" th:object=${box} method="post">
		<div class="imgcontainer">
			<img th:src="@{/styles/avatar.jpg}" alt="Avatar" class="avatar">
			<p>Muokkaa laatikkoa</p>
		</div>
		<div class="container">
			<input type="hidden" th:field="${box.boxId}" />
			<div>
				<label>Nimi<input type="text" th:field="${box.bName}"
					placeholder="Anna nimi" />
				</label>
				<p th:if="${#fields.hasErrors('bName')}" th:errors="${box.bName}">Error</p>
			</div>
			<div>
				<label>Kuvaus<input type="text" th:field="${box.bDesc}"
					placeholder="Anna kuvaus" />
				</label>
				<p th:if="${#fields.hasErrors('bDesc')}" th:errors="${box.bDesc}">Error</p>
			</div>
			<div>
			<!-- Käytetty radio-valintaa, value(true/false) märittää onko yksityinen vai julkinen -->
				<label>Julkinen <input type="radio"
					th:field="${box.bPrivate}"	
					name="public" value="false" /> 	
				</label> <br> <label>Yksityinen <input type="radio"
					th:field="${box.bPrivate}" name="private" value="true" />
				</label>
				<p th:if="${#fields.hasErrors('bPrivate')}"
					th:errors="${box.bPrivate}">Error</p>
			</div>
			<br>
			<div>
				<label>Paikka <input type="text" th:field="${box.bLocation}"
					placeholder="Anna paikka" />
				</label>
				<p th:if="${#fields.hasErrors('bLocation')}"
					th:errors="${box.bLocation}">Error</p>
			</div>
			<button type="submit">Tallenna</button>
			<a href="/auth/logged" class="button">Peruuta</a>
		</div>
	</form>
</body>
</html>