<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Edit Box</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../styles/signandlogin.css"
	th:ref="@{/styles/signandlogin.css}" type="text/css" rel="stylesheet" />
</head>
<body>
	
	<form action="#" th:action="@{/savebox}" th:object=${box} method="post">
		<div class="imgcontainer">
			<img th:src="@{/styles/avatar.jpg}" alt="Avatar" class="avatar">
			<p>Lisää laatikko</p>
		</div>
		<div class="container">

			<input type="hidden" th:field="${box.boxId}" />
			<div>
				<label>Nimi<input type="text" th:field="${box.bName}"
					placeholder="Anna nimi" />
				</label>
			</div>
			<div>
				<label>Kuvaus<input type="text" th:field="${box.bDesc}"
					placeholder="Anna kuvaus" />
				</label>
			</div>
			<div>

				<label>Public <input type="radio" th:field="${box.bPrivate}"
					name="public" value="false" />
				</label> <br> <label>Private <input type="radio"
					th:field="${box.bPrivate}" name="private" value="true" />
				</label>

			</div>
			<br>
			<div>
				<label>Paikka <input type="text" th:field="${box.bLocation}"
					placeholder="Anna paikka" />
				</label>
			</div>
				    <button type="submit">Tallenna</button>
				 <a href="/logged" class="button">Peruuta</a>
		</div>

	</form>
</body>
</html>