<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Organizer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../styles/home.css" th:ref="@{/styles/home.css}"
	type="text/css" rel="stylesheet" />

</head>
<body>
	<header>
		<h1>Tervetuloa etusivulle</h1>
		<img th:src="@{/styles/avatar.jpg}" alt="Avatar" class="avatar">
	</header>

	<div class="topnav">
		<a class="active" href="/login">Kirjaudu sisään</a> <a class="active"
			href="/signup">Rekisteröidy</a>
	</div>
	<header class="header">
		<h1>Julkiset laatikot</h1>
	</header>
	<br>
	<table>
		<tr>
			<th>Id</th>
			<th>Nimi</th>
			<th>Kuvaus</th>
			<th>Paikka</th>
			<th>Esineet</th>
		</tr>
		<tr th:each="box : ${boxes}" th:if="${box.bPrivate} == false"> <!-- Jos laatikko on määritetty yksityiseksi, se ei näy listauksessa -->
			<td th:text="${box.boxId}">Id</td>
			<td th:text="${box.bName}">Nimi</td>
			<td th:text="${box.bDesc}">Kuvaus</td>
			<td th:text="${box.bLocation}">Paikka</td>
			<td><a th:href="@{/items/{id}(id=${box.boxId})}">Esineet</a></td>
		</tr>
	</table>
</body>
</html>