<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Organizer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <link rel="stylesheet" -->
<!-- 	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../styles/home.css" th:ref="@{/styles/home.css}"
	type="text/css" rel="stylesheet" />

</head>
<body>
	<header>
		<h1>Tavarat</h1>
		<img th:src="@{/styles/avatar.jpg}" alt="Avatar" class="avatar">
	</header>

	<div class="topnav">
		<!--Tähän tulee listaus kaikista esineistä jotka ovat julkisia-->
		<!--Tai ehkä top navigointi missä on kirjaudu sisään, rekisteröidy-->

		<a class="active" href="/auth/logged">Koti</a> <a class="active"
			href="/home">Kirjaudu ulos</a>
		<!-- 		<div class="search-container"> -->
		<!-- 			<form action="/action_page.php"> -->
		<!-- 				<input type="text" placeholder="Etsi.." name="search"> -->
		<!-- 				<button class="button-search" type="submit"> -->
		<!-- 					<i class="fa fa-search"></i> -->
		<!-- 				</button> -->
		<!-- 			</form> -->
		<!-- 		</div> -->
	</div>
	<header class="header">
		<h1>Lista esineistä</h1>
	</header>
	<br>
	<table>
		<tr>
			<th>Id</th>
			<th>Nimi</th>
			<th>Omistaja</th>
			<th>Julkinen/ Yksityinen</th>
				<th>Kategoria</th>
		</tr>
		<tr th:each="item : ${itemit}">
			<td th:text="${item.itemId}">Id</td>
			<td th:text="${item.iName}">Nimi</td>
			<td th:text="${item.iOwner}">Omistaja</td>
			<td th:text="${item.iPrivate}"></td>
			<td th:text="${item.category.cName}">Kategoria</td>
			<td><a th:href="@{/auth/deleteitem/{id}(id=${item.itemId})}">Poista</a>
			<td><a th:href="@{/auth/edititem/{id}(id=${item.itemId})}">Muokkaa
					esinettä</a></td>
		</tr>
	</table>
</body>
</html>