<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Organizer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../styles/home.css" th:ref="@{/styles/home.css}"
	type="text/css" rel="stylesheet" />

</head>
<body>
	<header>
		<h1>Tavarat</h1>
		<img th:src="@{/styles/avatar.jpg}" alt="Avatar" class="avatar">
	</header>

	<div class="topnav">
		<a class="active" href="/home">Koti</a>
	</div>
	<header class="header">
		<h1>Lista esineistä</h1>
	</header>
	<br>
	<table>
		<tr>
			<th>Id</th>
			<th>Nimi</th>
			<th>Omistaja</th>
			<th>Kategoria</th>
		</tr>

		<tr th:each="item : ${items}" th:if="${item.iPrivate} == false">  <!-- Jos esine on määritetty yksityiseksi, se ei näy listauksessa -->
			<td th:text="${item.itemId}">Id</td>
			<td th:text="${item.iName}">Nimi</td>
			<td th:text="${item.iOwner}">Omistaja</td>
			<td th:text="${item.category.cName}">Kategoria</td>

		</tr>
	</table>
</body>
</html>