<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add User</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../styles/signandlogin.css" th:ref="@{/styles/signandlogin.css}"
	type="text/css" rel="stylesheet" />
</head>
<body>
	<header class="header">
		<h1>Rekisteröidy</h1>
	</header>
	<br>
	<div>
		<form th:object="${signupform}" th:action="@{/saveuser}" action="#"
			method="post">
			<div class="imgcontainer">
				<img th:src="@{/styles/avatar.jpg}" alt="Avatar" class="avatar">
			</div>
			<div class="container">

				<!--required poistettu toistaiseksi-->
				<div>
				<p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">
					Error</p>
				<label>Etunimi <input type="text" th:field="*{firstname}"
					placeholder="Anna etunimi" /> 
				</label>
				</div>
				<div>
				<p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">
					Error</p>
				<label> Sukunimi <input type="text"
					th:field="*{lastname}" placeholder="Anna sukunimi"  />
				</label> 
				</div>
				<div>
				<p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">
					Error</p>
				<label>Sukupuoli <input type="text"
					th:field="*{gender}" placeholder="Anna sukupuoli"
					/>
				</label>
				</div>
					 <br> 
				<div>
					<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username
					Error</p>
				<label>Käyttäjänimi
					<input type="text" th:field="*{username}"
					placeholder="Anna käyttäjänimesi"/>
				</label>
			
					</div>
				<br>
				<div>
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
					Error</p>
				<label>Sähköposti<input
					th:field="*{email}" type="text"
					placeholder="Anna sähköposti"/>
					</label>
					</div> 
				<br>
				<div>
						<p th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}">error</p>
				<label>Salsana<input
					th:field="*{password}" type="password"
					placeholder="Anna salasanasi"/>
					</label>
					</div>
					<div>
						<p th:if="${#fields.hasErrors('passwordCheck')}"
						th:errors="*{passwordCheck}">Password match error</p>
				 <label>Varmista salasana <input th:field="*{passwordCheck}" type="password"
					placeholder="Anna salasanasi"/>
				</label> 
				<p th:if="${#fields.hasErrors('passwordCheck')}"
						th:errors="*{passwordCheck}">Password match error</p>
						</div>
				    <button type="submit">Tallenna</button>
				 <a href="/home" class="button">Peruuta</a>
				<br>
			</div>
		</form>
	</div>
</body>
</html>